.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}

.stats td, .stats th{
  border: solid 1px black;
  padding: 10px;
}

.welcome_stats {
  padding: 30px;
}

.stats th {
  background-color: gray;
}

th {
  text-align: left;
}

.last_guess {
  margin-top: 30px;
  padding: 10px;
}

.correct {
  background-color: #B8E6B8;
  padding: 10px;
  margin-top: 30px;
}

.incorrect {
  background-color: #F2DEDE;
  color: #B94A4D;
  padding: 10px;
  margin-top: 30px;
}


nav{
  margin-bottom: 15px;
  background: white;
  vertical-align: middle;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline;
}

nav li a {
  font-size: 1.2em;
  display: inline-block;
  padding: 20px 10px;
  margin:0 0px 0 0;
  line-height: 20px;
}

.form-signin, .form-signup {
  visibility: hidden;
  max-width: 300px;
  padding: 19px 29px 29px;
  background-color: white;
  border: 1px solid #000;
  
  position:absolute;
  top:0;
  right:0;
}

.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-signup .form-signup-heading,
.form-signup .checkbox  {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signup input[type="text"],
.form-signup input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


#logo {
  float: left;
  line-height: 50px;
  font-size: 48px;
}

#logo a{
  color: rgb(90, 130, 218);
  vertical-align: middle;
  padding-left: 20px;
  letter-spacing: -2px;
}

ul {
	list-style: none;
}

.card {

}
