<form class="form-signup" action='/signup' method='post'>
  <h2 class="form-signin-heading">Sign Up</h2>
  <input type="text" class="input-block-level" name="email" placeholder="Email address">
  <input type="password" class="input-block-level" name="password" placeholder="Password">
  <button class="btn btn-large btn-primary" type="submit">Sign up</button>
  <a href="/">cancel</a>
</form>