<div class='create_deck'>

<h1>Create a new deck</h1>

<form action='/create' method='post'>
 
  <input type="text" name="name" placeholder="Deck name"><br><br>
  <p>Enter your cards one per line in this format: &nbsp;&nbsp;<code>term|definition</code></p>
  <p>NOTE: don't use any commas</p>
  <textarea name="cards" placeholder="Cards" rows="10" cols="50"></textarea><br><br>
  <input type="submit" value="submit">

</form>

</div>