<div class="container">
	<div class="card">
		<% if @card %>
			<h2><%= @card.term %></h2>
			<form id="answer" action="/game/guess/<%= @card.id %>" method="post" >
				<input type="text" name="answer" placeholder="answer"/><br>
				<button type="submit" name="answer"/>Submit</button>
			</form>
		<% else %>
			<h1> Good Job, head over to the dashboard to view your results </h1>
			<a href="/">Results</a>
		<% end %>
	</div>
</div>