<div class="container">


<table border="1">

<tr>
  <th>Deck</th>
  <th>Played</th>
  <th>Average</th>
</tr>

<% @decks.each do |x| %>

<tr>
<td><%= @decks[x].name %></td>
<td><%= @played[x] %></td>
<td><%= @avg[x] %></td>
</tr>

<% end %>

</table>

</div>
